@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;550;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", "sans serif";
  font-weight: 400;
  color: #242424;
  font-size: 16px, 14px 12px;
  background: #ffffff;
}

/* Шапка */

.container-1 {
  max-width: 1440px;
}
.container-1 .header {
  font-size: 16px;
  margin: 50px 160px 0 160px;
  z-index: 3;
}
.container-1 .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.container-1 .header .text {
  display: flex;
  gap: 40px;
}
.container-1 .header .text p:hover,
.container-1 .header .text2 p:hover {
  cursor: pointer;
  color: rgb(158, 155, 155);
}

.container-1 .header .text2 {
  display: flex;
  gap: 20px;
  align-items: center;
}

.container-1 .header .text2 .btn:hover {
  cursor: pointer;
}

.container-1 .btn {
  background: #1572d3;
  border-radius: 8px;
  border: 0;
  width: 160px;
  height: 50px;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
}
.container-1 .btn:hover {
  cursor: pointer;
}

/*    2-блок  */

.container-1 .info {
  width: 390px;
  height: 240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 240px 890px 320px 160px;
}
.container-1 .info .images .btn img {
  width: 160px;
  height: 50px;
  border-radius: 8px;
  border: 0;
}
.container-1 .info .text3 {
  width: 390px;
}
.container-1 .info .text3 h1 {
  font-size: 48px;
  text-align: left;
  font-weight: 550;
  line-height: 100%;
}
.container-1 .info .text3 .txt {
  color: #1572d3;
}
.container-1 .info .text3 .mini-text img {
  width: 130px;
  padding-left: 250px;
  margin-top: -5px;
  position: relative;
}
.container-1 .info .text3 p {
  font-size: 18px;
  line-height: 150%;
}

.container-1 .info .images {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 40px 0 0 0;
}

.container-1 .info .box-pictures .image1 img {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 880px;
  max-height: 860px;
  opacity: 20%;
  margin-left: 280px;
  z-index: 2;
}
.container-1 .info .box-pictures .image2 img {
  position: absolute;
  max-width: 790px;
  max-height: 530px;
  right: 0;
  top: 182px;
  z-index: 3;
}
.container-1 .navigation {
  display: flex;
  justify-content: space-between;
  position: absolute;
  margin: -200px 160px 48px 160px;
  width: 1120px;
  height: 72px;
  border-radius: 10px;
  border: 1px;
  background: #ffffffee;
  filter: drop-shadow(0px 6px 12px rgba(19, 94, 172, 0.12));
  z-index: 2;
}
.container-1 .navigation .loc {
  display: flex;
  align-items: center;
}
.container-1 .navigation .date1 {
  display: flex;
  align-items: center;
}
.container-1 .navigation .date2 {
  display: flex;
  align-items: center;
}
.container-1 .navigation .loc img {
  width: 32px;
  height: 32px;
}
.container-1 .navigation hr {
  margin: 17.5px 0 17.5px 0;
}

.container-1 .navigation h4 {
  font-size: 16px;
  font-weight: 500;
  margin-left: 10px;
}
.container-1 .navigation p {
  font-size: 14px;
  font-weight: 400;
  margin-left: 10px;
}
.container-1 .navigation .btn {
  width: 160px;
  height: 50px;
  margin-top: 10px;
  margin-right: 10px;
}
.container-1 .navigation .btn:hover {
  cursor: pointer;
}

/*  3-блок */

.container-2 {
  min-width: 1440px;
  height: 800px;
}
.container-2 .text {
  margin: 86px 639.5px;
  width: 160px;
  height: 40px;
  border: 0;
  border-radius: 8px;
  background: #ecf5ff;
  text-align: center;
  color: #1572d3;
}
.container-2 .text h2 {
  font-size: 14px;
  font-weight: 500;
  width: 97px;
  height: 10px;
  text-align: center;
  padding-top: 10px;
  padding-left: 30px;
}
.container-2 h1 {
  margin-left: 450px;
  margin-top: -50px;
  font-size: 38px;
  font-weight: 500;
}
.container-2 .box .image {
  width: 112px;
  height: 112px;
  background: #ecf5ff;
  border: 0;
  border-radius: 8px;
  display: flex;
}
.container-2 .content {
  display: flex;
  justify-content: space-between;
  margin: 80px 352px 313px 352px;
  gap: 200px;
}
.container-2 .content .box .image img {
  width: 48px;
  height: 48px;
  padding-left: 35px;
  padding-top: 30px;
}
.container-2 .content .box h3 {
  font-size: 20px;
  font-weight: 500;
  margin-top: 40px;
  text-align: left;
  width: 165px;
  margin-left: -10px;
}
.container-2 .content .box p {
  font-size: 14px;
  font-weight: 500;
  color: #6d6d6d;
  margin-left: -10px;
}
.container-2 .img-box img {
  margin-top: -160px;
  margin-bottom: 86px;
}

/* 4-блок */

.container-3 {
  min-width: 1440px;
  height: 800px;
}
.container-3 .text {
  margin-top: 120px;
  margin-left: 733px;
  width: 181px;
  height: 42px;
  border: 0;
  border-radius: 8px;
  background: #ecf5ff;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  padding-top: 17px;
  color: #1572d3;
}
.container-3 h2 {
  margin: 48px 131px 576px 733px;
  width: 576px;
  height: 75px;
  font-size: 38px;
  font-weight: 500;
}
.container-3 .img-box {
  margin-top: -750px;
  position: absolute;
}
.container-3 .img-box .img2 {
  position: absolute;
  margin-top: -550px;
}
.container-3 .content {
  margin-left: 710px;
  margin-top: -500px;
  width: 451px;
  height: 412px;
}
.container-3 .content .box {
  display: flex;
  gap: 20px;
  padding: 20px;
}
.container-3 .content .box .image {
  border-radius: 16px;
  border: 0;
  width: 64px;
  height: 64px;
  background: #ecf5ff;
}
.container-3 .content .box .image img {
  margin: 20px;
}

.container-3 .content .box .text-info h3 {
  font-size: 20px;
  font-weight: 500;
}
.container-3 .content .box .text-info p {
  font-size: 16px;
  font-weight: 400;
  color: #6d6d6d;
}

/* 5-блок */

.container-4 {
  min-width: 1440px;
  height: 840px;
}
.container-4 .text {
  margin-top: 84px;
  margin-left: 607px;
  width: 226px;
  height: 42px;
  border: 0;
  border-radius: 8px;
  background: #ecf5ff;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  padding-top: 17px;
  color: #1572d3;
}
.container-4 h2 {
  margin: 24px 350px 664px 460px;
  width: 584px;
  height: 26px;
  font-size: 38px;
  font-weight: 500;
}
.container-4 .card-block {
  display: flex;
  justify-content: space-between;
  margin-left: 110px;
  margin-right: 160px;
  margin-top: -40px;
  gap: 32px;
}
.container-4 .card-block .card .star-icon img {
  width: 18px;
  height: 18px;
}
.container-4 .card-block .card {
  width: 256px;

  border-radius: 16px;
  border: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  filter: drop-shadow(0px 12px 24px rgba(16, 76, 139, 0.16));
  margin-bottom: 195px;
  margin-top: -500px;
  background: #ffffff;
  padding: 24px 24px 24px 24px;
}

.container-4 .card-block .card .image img {
  width: 204px;
  height: 104px;
}
.container-4 .card-block .card .icon2 {
  margin-right: 20px;
}
.container-4 .card-block .card .icon1 .i1,
.container-4 .card-block .card .icon1 .i2 {
  display: flex;
  gap: 20px;
}
.container-4 .card-block .card .icon2 .i1,
.container-4 .card-block .card .icon2 .i2 {
  display: flex;
  gap: 15px;
}

.container-4 .card-block .card .icon1 .i2 {
  margin-right: 30px;
}
.container-4 .card-block .card .icon2 .i2 {
  margin-right: 5px;
}
.container-4 .card-block .card h3 {
  text-align: left;
  font-size: 16px;
  font-weight: 500;
  width: 180px;
  height: 11px;
  margin-right: 40px;
}
.container-4 .card-block .card .star-icon {
  display: flex;
  margin-top: 20px;
  margin-right: 100px;
}
.container-4 .card-block .card .star-icon img {
  width: 16px;
  height: 16px;
}
.container-4 .card-block .card .star-icon h4 {
  font-size: 12px;
  font-weight: 500;
}
.container-4 .card-block .card .star-icon p {
  font-size: 12px;
  font-weight: 400;
  color: #959595;
}
.container-4 .card-block .card .icon1,
.container-4 .card-block .card .icon2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #959595;
  margin-top: 10px;
  width: 100%;
}
.container-4 .card-block .card .icon2 img {
  margin-left: 10px;
}
.container-4 .card-block .card .icon1 p {
  font-size: 12px;
  font-weight: 400;
  margin-left: -15px;
  margin-top: 5px;
}
.container-4 .card-block .card .icon2 p {
  margin-left: -10px;
  font-size: 12px;
}
.container-4 .card-block .card hr {
  width: 230px;
  margin-top: 20px;
}
.container-4 .card-block .card .text1 {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}
.container-4 .card-block .card .text1 h4 {
  margin-left: 84px;
}
.container-4 .card-block .card .text1 p {
  color: #959595;
}
.container-4 .card-block .card .btn {
  background: #1572d3;
  border-radius: 8px;
  border: 0;
  width: 208px;
  height: 40px;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  margin-top: 25px;
  display: flex;
  flex-direction: center;
  align-items: center;
  padding-left: 65px;
  gap: 10px;
}
.container-4 .card-block .card .btn:hover {
  cursor: pointer;
}
.container-4 .btn1 {
  display: flex;
  width: 216px;
  height: 48px;
  margin: -100px 610px;
  border-radius: 8px;
  border-color: #47464671;
  background: #f7f7f7;
}
.container-4 .btn1 img {
  width: 20px;
  margin-left: 10px;
}
.container-4 .btn1 p {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  margin-top: 15px;
  margin-left: 40px;
}
.container-4 .btn1:hover {
  cursor: pointer;
}

/*  6-блок  */

.container-5 {
  min-width: 1440px;
  height: 864px;
  background: #f7fbff;
  padding-top: 127px;
}
.container-5 .image {
  display: flex;
  justify-content: space-between;
}
.container-5 .image .fig1 {
  margin: 40px 1011px 464px 137px;
  width: 292px;
  height: 310px;

}
.container-5 .image .fig2 {
  margin: -200px;
  margin-left: 1050px;
  position: absolute;
}
.container-5 .info-block {
  width: 2462px;
  height: 410px;
  position: absolute;
  margin-top: 127px;

}
.container-5 .info-block .text {
  width: 161px;
  height: 42px;
  border: 0px;
  border-radius: 8px;
  background: #ecf5ff;
  margin-top: -1000px;
  margin-left: 650px;

}
.container-5 .info-block .text p {
  text-align: center;
  padding-top: 10px;
  font-size: 14px;
  font-weight: 500;
  color:#1572d3;
}
.container-5 .info-block h2 {
  font-size: 38px;
  font-weight: 500;
  margin-left: 500px;
  margin-top: 10px;
}
.container-5 .info-block .card-box {
  width: 2462px;
  height: 438px;
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}
.container-5 .info-block .card-box .card {
  width: 794px;
  height: 438px;
  margin-left: 350px;
  border: 0px;
  border-radius: 24px;
  background: #FFFFFF;
  filter: drop-shadow(0px 12px 24px rgba(16, 76, 139, 0.16));
}
.container-5 .info-block .card-box .card .image {
  width:397px;
  height: 438px;
}
.container-5 .info-block .card-box .card .text-box {
  width:397px;
  height: 438px;
  padding: 20px 20px;

}
.container-5 .info-block .card-box .card .text-box .info {
  display: flex;
  justify-content: space-between;
  margin-left: 400px;
  margin-top: -380px;

}
.container-5 .info-block .card-box .card .text-box .info .img {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 95px;
  margin-left: -160px;

}
.container-5 .info-block .card-box .card .text-box .info .str {
  font-size: 24px;
  font-weight: 500;
  margin-left: 10px;
  margin-top: 40px;
}
.container-5 .info-block .card-box .card .text-box .info p {
  font-size: 64px;
  font-weight: 500;
}
.container-5 .info-block .card-box .card .text-box2 {
  width: 317px;
  height: 94px;
  margin-left: 420px;
  margin-top: -700px;
}
.container-5 .info-block .card-box .card .text-box2 .name {
  font-size: 24px;
  font-weight: 500;
}
.container-5 .info-block .card-box .card .text-box2 .address {
  font-size: 12px;
  font-weight: 300;
  color: #959595;
}



 /*   7-блок  */


.container-6 {
  min-width: 1440px;
  height: 500px;
  display: flex;
  justify-content: space-between;
}
.container-6 .img {
  margin-top: -100px;
  margin-left: -200px;
}
.container-6 .img2 {
  margin-top: 72px;
  margin-right: 80px;
}
.container-6 .info-box {
  max-width:480px;
  max-height: 300px;
  position: absolute;
  margin-left: 150px;
  margin-top: 50px;
}
.container-6 .info-box .btn {
  width: 146px;
  height: 42px;
  border: 0px;
  border-radius: 8px;
  background:  #ecf5ff;
  color:#1572d3;
}
.container-6 .info-box .text-1 {
  width:480px;
  height: 92px;
}
.container-6 .info-box .text-1 h1 {
  font-size: 48px;
  font-weight: 600;

}
.container-6 .info-box .text-2 {
  font-size:48px;
  font-weight: 600;
  color:#1572d3;
  margin-left: 190px;
  margin-top: -65px;
}
.container-6 .info-box .text-3 {
  margin-top: 80px;
}
.container-6 .info-box .social {
  margin-top: 40px;
  display: flex;
  gap: 40px;
   
}
.container-6 .info-box .social .btn img {
  width: 174.87px;
  height: 51.74px;
}
.container-6 .info-box .social .btn:hover {
  cursor: pointer;
}



/*    Footer    */


footer {
  min-width: 1440px;
  height: 450px;
  color:#fff;
  background: #051C34;
}
footer .footer-info {
    display: flex;
    justify-content: space-between;
    padding: 46px 216px 0px 160px;
}
footer .footer-info .info-box1 {
  margin-top: 5px;

}

footer .footer-info .info-box1 .t1 {
  display: flex;
  gap: 10px;
  margin-top: 35px;
  margin-left: -5px;
}
footer .footer-info .info-box1 .t2 {
  display: flex;
  gap: 10px;
  margin-top: 30px;
}
footer .footer-info .info-box1 .t3 {
  display: flex;
  gap: 10px;
  margin-top: 30px;
}

footer hr {
  margin-top: 20px;
  margin-left: 160px;
  
}
footer .text {
  margin-top: 20px;
  margin-left: 160px;
}